<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.manas.giskard"
    android:versionCode="0"
    android:versionName="0.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19"/>

    <application
        android:label="Giskard"
        android:icon="@drawable/android:star_big_on"
        android:theme="@android:style/Theme.Holo.Light">

        <activity
          android:label="Giskard"
          android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>